<h1>
  LANDMARK MALL
   </h1>
   <!-----<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">LM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home| <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">FAQ|</a>
          <a class="nav-item nav-link" href="#">NEWS|</a>
          <a class="nav-item nav-link " href="#">Contact</a>
        </div>
      </div>-->

     
         <!---- <nav>
            <ul>
              <li><a routerLink='/'>Home</a></li>
              <li><a routerLink='/faq'>Faq</a></li>
              <li><a routerLink='/news'>News</li>
              <li><a routerLink='/contact'>Contact</a></li>
            </ul>
          </nav>-->


        <nav class="bg">
        <ul class="nav nav-tabs ">
          <li class="nav-item m-3 text-danger">
            <a routerLink='/'>Home |</a>
          </li>
          <li class="nav-item m-3">
            <a routerLink='/faq'>FAQ |</a>
          </li>
          <li class="nav-item m-3">
            <a routerLink='/news'>News |</a>
          </li>
          <li class="nav-item m-3">
              <a routerLink='/contact'>Contact</a>
            </li>
        </ul>
      </nav>

      
    