
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="assets/001.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/002.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/003.jpg" class="d-block w-100" alt="...">
      </div>
      <a class="left carousel-control" href="#carouselExampleSlidesOnly"></a>
      <span class="glyphicon glyphicon chevron-left" aria-hidden="true"></span>
      <span class="sr-only">previous</span>
      <a class="right carousel-control" href="#carouselExampleSlidesOnly"></a>
      <span class="glyphicon glyphicon chevron-right" aria-hidden="true"></span>
      <span class="sr-only">previous</span>
    </div>
  
      <div class="prg">
    <p>A new Landmark has been a long time in the making. A new live-shop-dine urban village is on its way.</p>
    <p>The new Landmark will transform the 50-year-old mall into an active and welcoming hub to Alexandria’s West End—a community
       destination for the entire city.</p>
       <p>As an open-air urban village, the new Landmark will feature new residences, plazas and green spaces for community events, shops and restaurants, a 10-screen movie theater and more.</p>
      <p>The benefits will be many, including a walkable environment—with vibrant streets, open spaces, improved accessibility and new entertainment opportunities. There will be more jobs, increased tax revenues and enhanced property values that will likely spur more improvements in the area.</p>
      <h2>Share in the future</h2>
      <p>Landmark Mall was once a popular regional shopping center. Today, The Howard Hughes Corporation is dedicated to transforming it and bringing back a sense of community—something so many people want to see.</p>
      <p>The interests of the community, The Howard Hughes Corporation and other stakeholders are aligned. We all want to see Landmark return to its position as a vital and thriving community destination and gathering space.</p>
      <p>Landmark’s redevelopment is a complex project with myriad intricacies—but one that is possible with both private and public support. The Howard Hughes Corporation continues to work with city officials to advance the redevelopment.</p>
    </div>
      <form class="cntnr"> 
        <div class="hdr"><h2>What’s next?</h2></div>
        <p>We'd like to keep you informed about the redevelopment of Landmark Mall. Please register to recbeive news and updates.</p>
          <div class="form-group">
              <input type="FirstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="FistName">
            </div>
            <div class="form-group">
              
              <input type="lastName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="LastName">
            </div>
            <div class="form-group">
        
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Adderss">
            </div>
            <div class="form-group">
             
              <input type="email" class="form-control" id="InputText-area" aria-describedby="emailHelp" placeholder="ZipCode">
            </div>
            <div class="form-group">
                
                <textarea class="form-control" id="FormControlTextarea1" rows="3" placeholder="Comments/Questions"></textarea>
                
                
              </div>
              <div class="form-group">
        
                  <input type="text" class="form-control" id="Inputtext" aria-describedby="emailHelp" placeholder="6+8">
                </div>
            
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
